.App {
   text-align: center;
}

.App-logo {
   animation: App-logo-spin infinite 8.3s linear;
   height: 100px;
}

.App-header {
   background-color: #222;
   height: 150px;
   padding: 20px;
   color: white;
}

.App-intro {
   font-size: large;
}

@keyframes App-logo-spin {
   from {
      transform: translateX(-10in) rotate(0deg);
   }
   to {
      transform: translateX(8in) rotate(360deg);
   }
}
